<br>
<h4>Please Select 2 Personitlies : </h4>
<br>
<div role="main" class="container form-group" size="100%">
          <div class="well">
              <h1>Hello :)</h1>
              <h1> Choose Your Team Members:</h1>
          </div>        

        <div class="row">
           <div class="col-md-4"><input type="checkbox" class="two-checkbox" id="SH" [(ngModel)]="reqObject.SH" (click)="checkChanged('SH')" value ="SH" />
            <img height="80px" width="80px" src="../assets/images/2.png" /><span style="font-size:20px;">Shaper</span></div>
           <div class="col-md-4"><input type="checkbox" class="two-checkbox" id="RI" [(ngModel)]="reqObject.RI" (click)="checkChanged('RI')" value="RI" />
            <img height="80px" width="80px" src="../assets/images/5.png"  /><span style="font-size:20px;">Resource Investigator</span></div>
           <div class="col-md-4"><input type="checkbox" class="two-checkbox" id="SP" [(ngModel)]="reqObject.SP" (click)="checkChanged('SP')" value="SP" />
            <img height="80px" width="80px" src="../assets/images/8.png"  /><span style="font-size:20px;">Specialist</span></div>
        </div>
        <div class="row">
           <div class="col-md-4"><input type="checkbox" class="two-checkbox" id="IMP" [(ngModel)]="reqObject.IMP" (click)="checkChanged('IMP')"  value="IMP" />
            <img height="80px" width="80px" src="../assets/images/3.png"  /><span style="font-size:20px;">Implementer</span></div>
           <div class="col-md-4"><input type="checkbox" class="two-checkbox" id="TW" [(ngModel)]="reqObject.TW" (click)="checkChanged('TW')" value="TW" />
            <img height="80px" width="80px" src="../assets/images/9.png"  /><span style="font-size:20px;">Team Worker</span></div>
           <div class="col-md-4"><input type="checkbox" class="two-checkbox" id="CF" [(ngModel)]="reqObject.CF" (click)="checkChanged('CF')" value="CF" />
            <img height="80px" width="80px" src="../assets/images/4.png"  /><span style="font-size:20px;">Completer Finisher</span></div>
        </div>
        <div class="row">
            <div class="col-md-4"><input type="checkbox" class="two-checkbox" id="CO" [(ngModel)]="reqObject.CO" (click)="checkChanged('CO')" value="CO" />
            <img height="80px" width="80px" src="../assets/images/7.png"  /><span style="font-size:20px;">Coordinator</span></div>
           <div class="col-md-4"> <input type="checkbox" class="two-checkbox" id="PL" [(ngModel)]="reqObject.PL" (click)="checkChanged('PL')" value="PL" />
            <img height="80px" width="80px" src="../assets/images/1.png"  /><span style="font-size:20px;">Plant</span></div>
           <div class="col-md-4"><input type="checkbox" class="two-checkbox" id="ME" [(ngModel)]="reqObject.ME" (click)="checkChanged('ME')" value="ME" />
            <img height="80px" width="80px" src="../assets/images/6.png"  /><span style="font-size:20px;">Monitor Evaluator</span></div>
        </div>
           <input type="Button" name="" class="play-button btn btn-success" ng-model="gameName" (click)="ShowEvents()" value="Next">
 </div>