<div class="parent-div">
  <h2>Game Instructions</h2>
    <p>You are working in a startup company that works on an 'Online Food Ordering' system. </p>
    <p>This system consists of multiple components, mainly Order processing, delivery and a financial system.</p>
    <p>Your job is to construct a team that initially have two team members, you should select based on your understanding of the company’s business domain, as well as the nature of the it being a startup.</p>
    <p>Your choice evaluation will be made based on the events/tasks presented by the game.</p>
    <p>The game algorithm takes the following into consideration when selecting events:</p>
    <ul>
      <li>Team members that you have that are suitable for particular tasks.</li>
      <li>Team members that you have that are not suitable for particular tasks.</li>
      <li>Team members that you don't have.</li>
      <li>Conflicts between your team members.</li>
    </ul>
    <p>The four factors introduce randomness and excitement into the game, you may fail or succeed based on your experience of choice, your understanding of the main capabilities of each team role. 
        As well as a little randomness based on our events database.</p>
    <p>After question 3, you will be given a chance to enhance your team by adding a new hire. And a new set of events/tasks will introduced to your team.</p>
    <p>Your final evaluation will be presented after event 6.</p>
    
    <p>If at any stage, your mark decrease below 20, you will be considered as a bad survivor.</p>
    <span>Good luck ;)</span>
  </div>
  <div>
<input type="Button" name="" class="play-button btn btn-success" ng-model="gameName" (click)="Start()" value="Strat Playing">
</div>