td,th{
    padding: 10px;
    width: 10%;
    text-align: center;
    font-size: 14px;
    color: white;

}
th:first-child
{
    width: 18%;
}
li{
    text-align: left;
    width:  75%;
    margin: 15px;
}
h4{
    color: white;
    font-size: 22px;
    margin: 32px;
}
.btn{
    width: 20%;
font-size: 22px;
}
span{
    font-size: 22px;
    color: chartreuse;
}
td:last-child
{
    font-weight:bold; font-size: 20px;
}
.red
{
    color: red;
}
.green
{
    color: green;
}
.white
{
    color: white;
}
meter{
    display: block;
    margin: 0 auto;
    width: 20%;
    margin-top: 10px;
    margin-bottom: 24px;
    height: 40px;
}
.parent-div
{
    display: inline-block;
    background-color: gray;
    width: 70%;
    margin-top: 20px;
}
.task-num{
    width: 160px;
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin: 60px;
    background-color: #afa6a6;
    border-radius: 5px;
}
.desc
{
    width: 80%;
    font-size: 21px;
    color: white;
    margin: 60px;
    background-color: #afa6a6;
    border-radius: 5px;
    text-align: left;
    padding: 16px;
}
.per-name
{
    height: 35px;
    width: 100%;
    color: white;
    background-color: darkgray;
    margin-top: 20px;
    font-size: 16px;
    padding: 2px;
    font-weight: bold;
}
.effect
{
    height: 35px;
    width: 100%;
    color: white;
    background-color: darkgray;
    margin-top: 20px;
    font-size: 20px;
    padding: 2px;
    font-weight: bold;
}
.evalu-head
{
    display: inline-block;
    width: 20%;
    height: 40px;
    background-color: #47cc47;
    float: left;
    margin-left: 56px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 3px;
}
.evalue-text
{
    display: inline-block;
    width: 54%;
    background-color: #47cc47;
    float: left;
    margin-left: 56px;
    color: white;
    text-align: left;
    padding: 10px;
    font-size: 16px;
}
.meter
{
    width: 20%;
    float: right;
}
.gauge-container {
    width: 150px;
    height: 150px;
    display: block;
    padding: 10px;
  }
  .gauge-container > .gauge > .dial {
    stroke: #eee;
    stroke-width: 2;
    fill: rgba(0,0,0,0);
  }
  .gauge-container > .gauge > .value {
    stroke: rgb(47, 227, 255);
    stroke-width: 2;
    fill: rgba(0,0,0,0);
  }
  .gauge-container > .gauge > .value-text {
    fill: rgb(47, 227, 255);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
  }